

button {
     cursor: pointer;
     transition: 0.25s;
}
button:hover {
     border-color: #646cff;
     transition: 0.25s;
}
// button:focus,
// button:focus-visible {
//      outline: 4px auto -webkit-focus-ring-color;
// }


// --- General Style ---
::-webkit-scrollbar{
     width: 0.5rem;
     height: 0.5rem;
}

::-webkit-scrollbar-thumb{
     width: 0.4rem;
     height: 0.4rem;
     background: rgb(0, 200, 200);
     border-radius: 5px;
}
#root{
     width: calc(100vw - 0.5rem);
}


// --- Nav Bar ---
.nav-cont{
     top: 0.5rem;
     left: 0.5rem;
     width: calc(100% - 1rem );
     border-radius: 2rem;
}

// --- Dashboard ---
// #dash-page{}
// .dash-body{}

// -- File Input --
.query-float-cont *{display: none;}
.query-float-cont.active *{display: flex;}

.query-float-body{
     top: 12.5%;
     left: 12.5%;
     input{outline: none;}
     button{
          border-radius: 10px;
          border: 2px solid #14b8a6;
          padding: 1px 10px;
     }
     button:hover{
          background: #14b8a6;
     }
     button.inactive{
          display: none;
          padding: 0;
     }
}
#data-entry-sect.txt-input{
     flex-direction: column;
     .file-entry{
          display: none;
     }
}
#data-entry-sect.file-input{
     label{
          display: none;
     }
     textarea{
          display: none;
     }
}
.file-entry{
     height: calc(100% - 2rem);
}
#drag-area{
     position: relative;
}
.file-drop-zone{
     opacity: 1;
     visibility: visible;
     pointer-events: none;
     transition: 0.2s;
     transform: scale(1);
     box-shadow: #ffffff1a 0 1px 1px 0 inset
     , #32325d40 0 50px 100px -20px
     , #0000004d 0 30px 60px -30px;
     border: 1px dotted #000000 ;
     button{
          pointer-events: auto;
          color: white;
          background: #5874c6;
          padding: 2px 10px;
          border: none;
          box-shadow: #0000002b 0 2px 7px 3px;
     }
     input{display: none !important;}
}
.file-hover{
     position: absolute;
     width: calc(100% - 1rem);
     top: 0;
     // left: 0;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     transition-duration: 0.2s;
     transform: scale(0.6);
     box-shadow: rgba(255,255,255, 0.1) 0 1px 1px 0 inset, rgba(50,50,93,0.25) 0 50px 100px -20px, rgba(0,0,0,0.3) 0 30px 60px -30px;
     border: 1px #000000 dotted;
}
.drag-over-effect{
     .file-drop-zone{
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transform: scale(1.1);
     }
     .file-hover{
          opacity: 1;
          visibility: visible;
          transform: scale(1);
     }
}
#uploaded-area{ display: none; }
#uploaded-area.active{ display: flex; }
.file-name i{
     font-size: 1.15rem;
}
.file-progress{
     width: 100%;
     height: 5px;
     
     span{
          width: 50%;
          background: linear-gradient(to left, #6b99fd, #9385ff);
          transition: 0.25s ease-out;
     }
}
#create-dataset-data{
     outline: none;
     // resize:none;
     ::-webkit-scrollbar{
          width: 0.125rem;
     }
     ::-webkit-scrollbar-thumb{
          width: 0.1rem;
          background: rgb(0, 200, 200);
          border-radius: 5px;
     }
}

// --- Spreadsheet ---
// #start-sheet-page{}
.sheet-nav-btn{
     display: flex;
     align-items: center;
     justify-content: center;
     // background: rgba(255, 0, 0, 0.217);
     border-radius: 12px;
     padding: 0.1rem 0;
     width: 1.5rem;
     cursor: pointer;
     
     *{cursor: pointer;}
     i{font-size: 1.1rem;}
     button{
          width: 0;
          overflow: hidden;
          transition: 0.25s ease-in;
     }

     transition: 0.25s;
}
.sheet-nav-btn:hover{
     width: 4.5rem;
     gap: 0.15rem;
     background: #9d9d9d40;
     button{
          width: fit-content;
          transition: 0.25s ease-in;
     }
     transition: 0.25s;
}
.sheet-nav-btn.inactive{
     color: #9ca3af;
     cursor: default;
     i{cursor: default;}
}
.sheet-nav-btn.inactive:hover{
     width: 1.5rem;
     gap: 0;
     background: transparent;
     button{ width: 0; }
}
.sheet-nav-btn.delete:hover{
     background: #ff000040;
     color: #ff3232;
     width: 5rem;
     // padding: 0 0.5rem;
}
.sheet-nav-save{
     i{
          font-size: 1.1rem;
          cursor: pointer;
     }
     transition: 0.25s;
}
.sheet-nav-save:hover{
     background: #00c8a0;
     scale: 1.05;
     *{scale: 1;}
     transition: 0.25s;
}
.sheet-table-cont{
     position: relative;
     width: 100%;
     height: calc(100vh - (5rem + 1rem + 2.5rem));
     // overflow: auto;
     overflow: scroll;
     box-sizing: border-box;

     table{ height: fit-content; }

     ::-webkit-scrollbar{
          width: 0.125rem;
          height: 0.125rem;
     }
     ::-webkit-scrollbar-thumb{
          width: 0.1rem;
          height: 0.1rem;
          background: rgb(0, 200, 200);
          border-radius: 5px;
     }
}
table textarea{
     background: none;
     // field-sizing:content;
     border: none;
     overflow: auto;
     outline: none;
     box-shadow: none;
     resize: none;
}
table .head{
     position: sticky;
     padding-top: 1.5rem;
     top: 0;
     z-index: 1;
     // background: #5c5cff;
     textarea{
          display: flex;
          text-align: center;
          // background: red;
          justify-content: center;
          align-items: center;
     }
}

.row-del-btn-head, .row-del-cont{
     position: sticky;
     left: 0rem;
     z-index: 2;
     display: grid;
     place-items: center;
     background: white;
}
.column-del-btn, .row-del-btn{
     color: #ff9b9b;
     visibility: hidden;
     opacity: 0;
     height: 1rem;
     width: 1rem;
     display: grid;
     place-items: center;
     // display: none;
     transition: 0.25s;
}
.column-del-btn:hover, .row-del-btn:hover{
     color: #ff3232;
     scale: 1.05;
     transition: 0.25s;
}
.column-del-btn.active, .row-del-btn.active{
     visibility: visible;
     opacity: 1;
     transition: 0.25s;
}
.column-del-btn{
     position: absolute;
     top: calc(0rem + 0.25rem);
     left: calc(50% - 0.5rem);
}
.sheet-table-cont .body-cell {
     // border: solid 1px black;
     // padding: 0;
     textarea{
          // margin: 0;
          height: 100%;
          border: solid 1px black;
          display: grid;
          // border-radius: 10px;
          transition: 0.25s;
     }
     textarea:hover{
          border-radius: 10px;
          transition: 0.25s;
     }
}

// -Process Data Types --
.table-types-float-cont *{
     display: none;
     *{
          display: none;
     }
}
.table-types-float-cont.active{
     display: flex;
     z-index: 5;
     *{
          display: flex;
     }
}
.table-types-float-body{
     top: 12.5%;
     left: 12.5%;
     input{outline: none;}
     button{
          border-radius: 10px;
          border: 2px solid #14b8a6;
          padding: 1px 10px;
     }
     button:hover{
          background: #14b8a6;
     }
     button.inactive{
          display: none;
          padding: 0;
     }
}
.chart-options{
     background-position: center;
     background-size: 7rem auto;
     background-repeat: no-repeat;
     height: 7rem;
     width: 7rem;
     border-radius: 20px;
     box-shadow: 2px 2px 16px #00002050;
     // cursor: pointer;
     overflow: hidden;
     p{
          background: linear-gradient(to top, #ffffff 30%, #ffffff00);
     }
     transition: 0.5s;
}